.song-card {
    position: relative;
    height: 140px;
    &.active {
        border-color: #A6D2A5;
        .song-card-image:before {
            box-shadow: none;
        }
    }
}

.song-card-image {
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f1f1f1;
    margin: -10px 10px 0;
    width: calc(100% - 20px);
    position: absolute;
    z-index: 2;
    height: 95px;
    // optimize performance on hover animation (box-shadow is a pretty heavy element to transform)
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        transition: box-shadow .6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    &:hover {
        cursor: pointer;
        &:before {
            box-shadow: none;
        }
    }
}

.song-card-user {
    display: block;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    font-weight: bold;
    // &:before {
    //       position: absolute;
    //       content: "";
    //       left: 0px;
    //       top: 0px;
    //       height: 30px;
    //       width: 100%;
    //       background: linear-gradient(transparent, grey);
    // }
}

.song-card-user-image {
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 4px;
    margin-right: 10px;
    border-radius: 100%;
    float: left;
}

.song-card-details {
    position: relative;
}

.song-card-user-username {
    display: block;
    margin-right: 30px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-card-title {
    display: block;
    color: #222;
    font-weight: 300;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-card-heart {
    position: absolute;
    bottom: -2px;
    right: 0;
    font-size: 14px;
}
