@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700');


body {
    color: #222;
    font-family: 'Fira Sans', 'sans-serif';
    font-size: 14px;
    background-color: #d1d1d1;
    overflow-y: scroll;
    min-height: 100vh;
}
